<h1>{{languageService.getUpper('pictures')}}</h1>

<h2 class="image_title">{{languageService.getUpper(images[currentIndex].title)}}</h2>

<div class="container" [@animSlider]="currentIndex">

    <div *ngFor="let image of images; let i = index" class="image_container">
        <img-lazy [src]="image.url" *ngIf="i == currentIndex"></img-lazy>
    </div>

    <div class="overlay">
        <div matRipple style="background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%);"
            class="overlay_side" [class.overlay_disabled]="currentIndex == 0" (click)="previousImage()">
            <mat-icon class="icon_pointer material-icons-round">keyboard_arrow_left</mat-icon>
        </div>

        <div class="overlay_middle">
            <div class="drawer">
                <div matRipple class="mat-elevation-z2" [class.index_selected]="currentIndex == i"
                    *ngFor="let image of images; let i = index" (click)="currentIndex = i">{{i + 1}}
                </div>
            </div>
        </div>

        <div matRipple style="background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.9) 100%);"
            class="overlay_side" [class.overlay_disabled]="currentIndex == images.length-1" (click)="nextImage()">
            <mat-icon class="icon_pointer material-icons-round">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>