h1 {
    font-weight: bold;
}

.container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.image_container {
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}
.image_container img-lazy {
    height: inherit;
}

.overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 5px;
    display: flex;
}
.container:hover .overlay {
    opacity: 1;
}
.container:hover .overlay .overlay_middle .drawer {
    transform: unset;
}

.overlay_side {
    cursor: pointer;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}
.overlay_side:hover .icon_pointer{
    transform: scale(3.5);
}
.overlay_disabled {
    opacity: 0.2;
    cursor: unset;
    pointer-events: none;
}

.overlay_middle {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.icon_pointer {
    color: white;
    transform: scale(3);
    transition: transform 0.3s ease-in-out;
}

.image_title {
    text-align: center;
}

.drawer {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 6px;
    justify-content: center;
    padding-bottom: 6px;
    transition: transform 0.3s ease;
    transform: translateY(5px);
}
.drawer div {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--theme-accent-500);
    color: var(--theme-accent-contrast-500);
    cursor: pointer;
    font-size: 1.6em;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_selected {
    background-color: var(--theme-primary-500) !important;
    color: var(--theme-primary-contrast-500) !important;
}