<h1>{{languageService.getUpper('pictures')}}</h1>

<div class="container" [@animSlider]="currentIndex">

    <div *ngFor="let image of images; let i = index" class="image_container">
        <img-lazy [src]="image.url" *ngIf="i == currentIndex"></img-lazy>
    </div>

    <div class="overlay">
        <div matRipple class="overlay_side" (click)="previousImage()">
            <mat-icon class="icon_pointer material-icons-round">keyboard_arrow_left</mat-icon>
        </div>

        <div class="overlay_middle"></div>

        <div matRipple class="overlay_side" (click)="nextImage()">
            <mat-icon class="icon_pointer material-icons-round">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>