.searchbar {
    z-index: 100;
    width: 95%;
    max-width: 300px;
    max-height: 100%;
    border-radius: 25px;
    display: flex;
    padding: 5px;
    transition: all 0.3s ease;
}
.blank_input {
    background-color: transparent;
    outline: unset;
    width: 100%;
    border: unset;
    font-size: 1em;
}
.icon {
    color: rgb(134, 134, 134);
}
.clear {
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.option_image {
    vertical-align: middle;
    margin-right: 8px;
    width: 50px;
    object-fit: cover;
}

.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}