.searchbar {
    z-index: 100;
    width: 95%;
    max-width: 300px;
    max-height: 100%;
    border-radius: 25px;
    display: flex;
    padding: 5px;
    transition: all 0.3s ease;
}
.blank_input {
    background-color: transparent;
    outline: unset;
    width: 100%;
    border: unset;
    font-size: 1em;
}
.icon {
    color: rgb(134, 134, 134);
}
.clear {
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}
.sorter_icon {
    cursor: pointer;
    margin-right: 2px;
    border-radius: 50%;
}
.option_image {
    vertical-align: middle;
    margin-right: 8px;
    width: 50px;
    object-fit: cover;
}

.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sorter_background {
    z-index: 110;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0000002c;
}

.sorter_container {
    z-index: 120;
    position: absolute;
    height: auto;
    padding: 0px !important;
}
.sorter_container mat-radio-group {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}