<div class="searchbar mat-elevation-z1 mat-app-background">

    <mat-icon class="icon material-icons-round">search</mat-icon>
    <input type="text" #searchBar [ngModel]="searchbarService.searchText"
        (ngModelChange)="searchbarService.setSearchText($event)" class="blank_input mat-app-background"
        [matAutocomplete]="autoComplete" [placeholder]="languageService.getUpper('header_search') + ' ...'"
        (click)="onSearchBarClick()">
    <mat-icon class="icon clear material-icons-round" (click)="clearInput()"
        [style.opacity]="searchbarService.searchText ? 1 : 0">close</mat-icon>

    <mat-autocomplete autoActiveFirstOption #autoComplete="matAutocomplete">

        <mat-option *ngFor="let project of results" (click)="navigateProject(project)">
            <img class="option_image" [src]="project.coverImage" height="25">
            <span>{{languageService.get(project.title)}}</span>
        </mat-option>

        <mat-option disabled *ngIf="searching">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-option>

    </mat-autocomplete>
</div>