<div class="page_container">
    <div class="page_center">
        <div *ngIf="project" style="margin-top: 12px">
            <desktop-cover [url]="project.coverImage"></desktop-cover>

            <desktop-title [title]="project.title" [status]="project.status" [keywords]="project.keywords"></desktop-title>
            
            <mat-divider></mat-divider>
            <desktop-paragraph *ngFor="let paragraph of project.content" [paragraph]="paragraph"></desktop-paragraph>
            
            <mat-divider *ngIf="project.images.length > 0"></mat-divider>
            <desktop-images *ngIf="project.images.length > 0" [images]="project.images"></desktop-images>
        </div>
    </div>
</div>