<div class="page_container" (scroll)="onPageScroll($event)">
    <div class="page_center" style="margin-bottom: 100px;">
        <div *ngIf="project" style="margin-top: 12px">
            <desktop-cover [url]="project.coverImage"></desktop-cover>
            <desktop-title [title]="project.title" [status]="project.status" [keywords]="project.keywords"></desktop-title>
            
            <mat-divider *ngIf="project.content.length > 0"></mat-divider>
            <desktop-paragraph *ngFor="let paragraph of project.content" [paragraph]="paragraph"></desktop-paragraph>
            
            <mat-divider *ngIf="project.images.length > 0"></mat-divider>
            <desktop-images *ngIf="project.images.length > 0" [images]="project.images"></desktop-images>

            <mat-divider *ngIf="project.urls.length > 0"></mat-divider>
            <desktop-urls *ngIf="project.urls.length > 0" [urls]="project.urls"></desktop-urls>

            <mat-divider></mat-divider>
            <desktop-faq [questions]="project.questions" [projectTitle]="project.title"></desktop-faq>
        </div>
    </div>
</div>