<div class="head">
    <h1 class="title">{{project.title.get(languageService.language)}}</h1>
    <h1 class="status">{{languageService.getUpper('status')}}: {{project.status.get(languageService.language)}}</h1>
</div>

<p>TODO: introductie component naar content component veranderen</p>

<div class="container_keywords">
    <div style="margin-right: 4px;">{{languageService.getUpper('keywords')}}:</div>
    <div class="keyword" *ngFor="let keyword of project.keywords" (click)="searchKeyword(keyword)">{{keyword.get(languageService.language)}}</div>
</div>