.container_keywords {
    display: flex;
}
.keyword {
    cursor: pointer;
    background-color: var(--theme-accent-900);
    border-radius: 10px;
    color: var(--theme-accent-contrast-900);
    font-weight: 600;
    padding: 0px 10px 0px 10px;
    margin: 0px 2px 12px 2px;
    transition: all 0.1s ease;
}
.keyword:hover {
    background-color: var(--theme-accent-600);
    color: var(--theme-accent-contrast-600);
}