<div class="page_container" #scrollable>
    <div class="page_center" style="margin-bottom: 100px;">
        <div class="holder" *ngIf="projectEditor" style="margin-top: 12px">
            <desktop-edit-language [projectEditor]="projectEditor"></desktop-edit-language>
            <mat-card>
                <desktop-edit-main [projectEditor]="projectEditor"></desktop-edit-main>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{languageService.getUpper('content')}}</mat-card-title>
                </mat-card-header>

                <!-- <div *ngFor="let paragraph of projectEditor.project.content">
                    <mat-card style="margin-top: 5px;">
                        <desktop-edit-paragraph [paragraph]="paragraph" [projectEditor]="projectEditor"
                            (onRemoveSubparagraph)="removeParagraph($event)">
                        </desktop-edit-paragraph>
                    </mat-card>
                </div>

                <button mat-raised-button color="primary" style="margin-top: 20px;" (click)="addParagraph()">
                    {{languageService.getUpper('add')}} {{languageService.get('to')}}: {{projectEditor.getTitle()}}
                </button> -->
            </mat-card>

            <mat-card>
                <desktop-edit-utils [projectEditor]="projectEditor"></desktop-edit-utils>
            </mat-card>

            <div style="display: flex; gap: 20px;">
                <button mat-raised-button color="warn" style="width: 100%;" [disabled]="!authService.isLoggedIn()"
                    (click)="deleteProject()">
                    {{languageService.getUpper('editor_delete')}}
                </button>
                <button mat-fab color="accent" [disabled]="authService.isLoggedIn()"
                    (click)="dialogService.showLoginDialog()">
                    <mat-icon class="material-icons-round" *ngIf="!authService.isLoggedIn()">lock</mat-icon>
                    <mat-icon class="material-icons-round" *ngIf="authService.isLoggedIn()">lock_open</mat-icon>
                </button>
                <button mat-raised-button color="primary" style="width: 100%;" [disabled]="!authService.isLoggedIn()"
                    (click)="submitProject()">
                    {{projectEditor.isNewProject ? languageService.getUpper('editor_submit') :
                    languageService.getUpper('editor_update')}}
                </button>
            </div>
        </div>
    </div>
</div>

<app-scrollup [scrollElement]="scrollable"></app-scrollup>