<div class="page_container">
    <div class="page_center" style="margin-bottom: 100px;">
        <div *ngIf="projectEditor" style="margin-top: 12px">
            <desktop-edit-language [projectEditor]="projectEditor"></desktop-edit-language>
            <h1>{{projectEditor.project.title.get(projectEditor.selectedLanguage)}}</h1>
            <mat-form-field appearance="fill">
                <mat-label>Titel</mat-label>
                <input matInput [value]="getTitle()" (input)="updateTitle($event.target.value)">
            </mat-form-field>
        </div>
    </div>
</div>