<div class="page_container">
    <div class="page_center" style="margin-bottom: 100px;">
        <div class="holder" *ngIf="projectEditor" style="margin-top: 12px">
            <desktop-edit-language [projectEditor]="projectEditor"></desktop-edit-language>
            <mat-card><desktop-edit-main [projectEditor]="projectEditor"></desktop-edit-main></mat-card>
            <mat-card><desktop-edit-utils [projectEditor]="projectEditor"></desktop-edit-utils></mat-card>
        </div>
    </div>
</div>