<mat-card-header>
    <mat-card-title>{{languageService.getUpper('main')}}</mat-card-title>
</mat-card-header>

<!-- CoverImage -->
<img class="image_cover mat-elevation-z2" [src]="projectEditor.project.coverImage">

<mat-form-field appearance="fill" class="component">
    <mat-label>{{languageService.getUpper('cover')}} {{languageService.get('image')}}</mat-label>
    <input matInput [(ngModel)]="projectEditor.project.coverImage">
    <button mat-icon-button matSuffix (click)="pickImage()">
        <mat-icon class="material-icons-round">folder</mat-icon>
    </button>
</mat-form-field>

<!-- Title -->
<mat-form-field appearance="fill" class="component" color="accent">
    <mat-label>{{languageService.getUpper('title')}} [{{getCurrentLanguageString()}}]</mat-label>
    <input matInput [value]="projectEditor.getTitle()" (input)="projectEditor.setTitle($event.target.value)">
</mat-form-field>

<!-- Status -->
<mat-form-field appearance="fill" class="component" color="accent">
    <mat-label>{{languageService.getUpper('status')}} [{{getCurrentLanguageString()}}]</mat-label>
    <input matInput [value]="projectEditor.getStatus()" (input)="projectEditor.setStatus($event.target.value)">
</mat-form-field>