<!-- <div *ngIf="isLoading" class="loader_container">
    <div class="bullet_container">
        <div class="spacer"></div>
        <div class="bullet mat-elevation-z2"></div>
    </div>
</div>
<img [src]=image [ngStyle]="{visibility: isLoading ? 'hidden' : ''}" *ngIf="!onError"
    (load)="hideLoader()" (error)="showError()" class="mat-elevation-z1" [class.fadein]="!isLoading"/>

<div *ngIf="onError" class="error_holder">
    Kon afbeelding niet inladen, gelieve contact op te nemen met de 
    <span class="text_link" (click)="utilsService.mailto('svanloon@bergse-badminton-vereniging.nl')">beheerder</span>
</div> -->

<div class="container" [ngStyle]="{ width: imageWidth, height: imageHeight }">
    <img [src]="url" [ngStyle]="{ visibility: isLoading ? 'hidden' : '' }" 
        (load)="onLoadingFinished()" (error)="onError()">

    <div class="loader" *ngIf="isLoading">

    </div>

    <div class="error" *ngIf="error">

    </div>
</div>