<div class="page_container" #scrollable>
    <div class="page_center" style="margin-bottom: 100px;">
        <div *ngIf="project">
            <mobile-title [title]="project.title" [status]="project.status" [keywords]="project.keywords"
                [scrollElement]="scrollable"></mobile-title>
        </div>

        <!-- <mat-divider *ngIf="project.content.length > 0"></mat-divider>
        <mobile-paragraph *ngFor="let paragraph of project.content" [paragraph]="paragraph"></mobile-paragraph> -->

        <mat-divider *ngIf="project.urls.length > 0"></mat-divider>
        <mobile-urls *ngIf="project.urls.length > 0" [urls]="project.urls"></mobile-urls>

        <mat-divider></mat-divider>
        <mobile-faq [questions]="project.questions" [projectTitle]="project.title"></mobile-faq>

    </div>
</div>

<app-scrollup [scrollElement]="scrollable"></app-scrollup>