.page_container {
    margin-top: var(--headerHeight);
    height: calc(100vh - var(--headerHeight));
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.page_container::-webkit-scrollbar {
    height: 14px;
    width: 14px;
    right: 5px;
}

.page_container::-webkit-scrollbar-track {
    background: transparent;
}

.page_container::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 2px;
}

.page_container::-webkit-scrollbar-thumb:hover {
    background: #575757;
}

.page_center {
    width: var(--pageWidth);
    margin-left: 5%;
    margin-right: 5%;
}

.page_title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3em;
    line-height: 1;
}

.page_introduction {
    margin-bottom: 20px;
    font-size: 1.4em;
}

.page_text_bg {
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 5px;
    white-space: pre-line;
}

p {
    white-space: inherit;
}