.page_container {
    margin-top: var(--headerHeight);
    height: calc(100vh - var(--headerHeight));
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}

.page_container::-webkit-scrollbar {
    height: 14px;
    width: 14px;
    right: 5px;
}

.page_container::-webkit-scrollbar-track {
    background: transparent;
}

.page_container::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 2px;
}

.page_container::-webkit-scrollbar-thumb:hover {
    background: #575757;
}

.page_center {
    width: var(--pageWidth);
    margin-left: 10%;
    margin-right: 10%;
}

.page_title {
    text-align: center;
    margin: 50px;
    font-size: 3em;
}