/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import "./page.scss";

@font-face {
    font-family: "DIN";
    src: url(../assets/fonts/DIN-light.otf) format("opentype");
}
@font-face {
    font-family: "DIN-Bold";
    src: url(../assets/fonts/DIN-bold.otf) format("opentype");
}

:root {
    --headerHeight: 70px;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "DIN", Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-button {
    font-family: "DIN-Bold", Roboto, "Helvetica Neue", sans-serif !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.center_ver {
    width: 100%;
    display: flex;
    justify-content: center;
}

.transit_theme {
    transition: color 0.3s ease, background-color 0.3s ease;
}
.mat-app-background {
    transition: color 0.3s ease, background-color 0.3s ease;
}
