mat-toolbar {
    position: fixed;
    height: var(--headerHeight) !important;
    transition: height 0.3s ease;
    z-index: 1;
}
.toolbar_item {
    width: 100%;
    display: flex;
    overflow: hidden;
}