<mat-toolbar color="primary" class="mat-elevation-z2 transit_theme" *ngIf="!isMobile()">

    <div class="toolbar_item" style="justify-content: flex-start;">
        <button mat-icon-button color="accent" routerLink="/"
            [matTooltip]="languageService.getUpper('hint_navigate_to') + ' \'' + languageService.getUpper('header_lobby') + '\''">
            <mat-icon class="material-icons-round">cottage</mat-icon>
        </button>
        <button mat-button routerLink="/About" color="accent"
            [matTooltip]="languageService.getUpper('hint_navigate_to') + ' \'' + languageService.getUpper('header_about') + '\''">
            {{languageService.getUpper('header_about')}}
        </button>
    </div>
    <div class="toolbar_item" style="justify-content: center;">
        <!-- shadow fix -->
        <app-search style="padding-bottom: 2px;"></app-search>
    </div>
    <div class="toolbar_item" style="justify-content: flex-end;">
        <button mat-icon-button [matTooltip]="languageService.getUpper('header_help')" disabled>
            <mat-icon class="material-icons-round">help</mat-icon>
        </button>
        <app-button-theme></app-button-theme>
        <app-button-language></app-button-language>
    </div>

</mat-toolbar>

<mat-toolbar color="primary" class="mat-elevation-z2 transit_theme" *ngIf="isMobile()">
    <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons-round">menu</mat-icon>
    </button>

    <app-search style="margin: auto;"></app-search>

    <button mat-icon-button color="accent" routerLink="/"
        [matTooltip]="languageService.getUpper('hint_navigate_to') + ' \'' + languageService.getUpper('header_lobby') + '\''">
        <mat-icon class="material-icons-round">cottage</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu" [matTooltip]="languageService.getUpper('hint_options')">
    <button mat-menu-item color="accent"
        [matTooltip]="languageService.getUpper('hint_navigate_to') + ' \'' + languageService.getUpper('header_lobby') + '\''">
        <mat-icon class="material-icons-round">cottage</mat-icon>
        <span>{{languageService.getUpper('header_lobby')}}</span>
    </button>
    <button mat-menu-item color="accent"
        [matTooltip]="languageService.getUpper('hint_navigate_to') + ' \'' + languageService.getUpper('header_about') + '\''">
        <mat-icon class="material-icons-round">info</mat-icon>
        <span>{{languageService.getUpper('header_about')}}</span>
    </button>
    <button mat-menu-item color="accent" [matMenuTriggerFor]="themes">
        <mat-icon class="material-icons-round">palette</mat-icon>
        <span>{{languageService.getUpper('header_change_theme')}}</span>
    </button>
    <button mat-menu-item color="accent" [matMenuTriggerFor]="languages">
        <mat-icon class="material-icons-round">language</mat-icon>
        <span>{{languageService.getUpper('header_change_language')}}</span>
    </button>
</mat-menu>

<mat-menu #themes="matMenu">
    <button mat-menu-item [disabled]="themeService.theme == 1" (click)="themeService.setTheme(1)">Light</button>
    <button mat-menu-item [disabled]="themeService.theme == 0" (click)="themeService.setTheme(0)">Dark</button>
</mat-menu>

<mat-menu #languages="matMenu">
    <button mat-menu-item [disabled]="languageService.language == 0" (click)="languageService.setLanguage(0)">
        <span>Nederlands</span>
    </button>
    <button mat-menu-item [disabled]="languageService.language == 1" (click)="languageService.setLanguage(1)">
        <span>English</span>
    </button>
</mat-menu>