.logos_holder {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}
.logo {
    height: 60px;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px;
}

.keywords_holder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 5px;
    margin-bottom: 15px;
}
.keyword {
    display: flex;
    gap: 10px;
}

.urls_holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.url {
    display: flex;
    width: 100%;
    gap: 20px;
}
.url mat-form-field {
    width: 100%;
}