:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logos_holder {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.logo {
    height: 60px;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px;
}

.keywords_holder {
    display: flex;
    flex-direction: column;
}
.keyword_row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.keyword_row mat-form-field {
    width: 100%;
}