h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.no_questions {
    font-size: 1.2em;
}

.question_holder h2 {
    font-style: italic;
    margin-bottom: 0px;
}
.question_holder p {
    font-size: 1.2em;
}