<div class="page_container">
    <div class="page_center">
        <div class="page_title">
            {{languageService.getUpper('welcome')}}
        </div>
    
        <div class="center_ver">
            <div class="projects_holder" *ngIf="projects" [@LobbyListAnim]="projects.length">
                <div class="project mat-elevation-z2" *ngFor="let project of projects" (click)="navigateProject(project)">
                    <img class="project_image" [src]="project.coverImage">
                    <div class="center" style="position: absolute;">
                        <span class="project_title">{{languageService.getUpper(project.title)}}</span>
                    </div>
                    <div class="project_logos_holder" style="position: absolute;">
                        <img class="project_logo" *ngFor="let image of project.logos" [src]="image.url">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
