<mat-card-header>
    <mat-card-title>{{languageService.getUpper('rest')}}</mat-card-title>
</mat-card-header>

<mat-accordion multi>
    <!-- Logos -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{languageService.getUpper('logos')}}
            </mat-panel-title>
            <mat-panel-description>
                {{languageService.getUpper('amount')}}: {{projectEditor.project.logos.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="logos_holder">
            <div class="logo" *ngFor="let logo of projectEditor.project.logos; let i = index; trackBy: trackByFn">
                <mat-form-field appearance="fill" class="component">
                    <mat-label>{{i + 1}}</mat-label>
                    <input matInput [value]="logo" (input)="updateLogo(i, $event.target.value)">
                    <button mat-icon-button matSuffix (click)="pickLogo(i)">
                        <mat-icon class="material-icons-round">folder</mat-icon>
                    </button>
                </mat-form-field>
                <img [src]="logo" style="height: 50px; min-width: 50px;">
                <button mat-icon-button color="warn" (click)="deleteLogo(i)">
                    <mat-icon class="material-icons-round">close</mat-icon>
                </button>
                <div class="mover">
                    <div matRipple (click)="moveItem(projectEditor.project.logos, logo, -1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_up</mat-icon>
                    </div>
                    <div matRipple (click)="moveItem(projectEditor.project.logos, logo, 1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addLogo()">{{languageService.getUpper('add')}}</button>
    </mat-expansion-panel>

    <!-- Keywords -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{languageService.getUpper('keywords')}}
            </mat-panel-title>
            <mat-panel-description>
                {{languageService.getUpper('amount')}}: {{projectEditor.project.keywords.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="keywords_holder">
            <div class="keyword"
                *ngFor="let keyword of projectEditor.project.keywords; let i = index; trackBy: trackByFn">
                <mat-form-field appearance="fill" color="accent" [hintLabel]="getKeywordHint(i)">
                    <mat-label>{{i + 1}} [{{getCurrentLanguageString()}}]</mat-label>
                    <input matInput [value]="getKeyword(i)" (input)="setKeyword(i, $event.target.value)">
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="deleteKeyword(i)">
                    <mat-icon class="material-icons-round">close</mat-icon>
                </button>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addKeyword()">{{languageService.getUpper('add')}}</button>
    </mat-expansion-panel>

    <!-- Colors -->
    <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{languageService.getUpper('colors')}}
            </mat-panel-title>
            <mat-panel-description>
                {{languageService.getUpper('amount')}}: {{projectEditor.project.colors.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="colors_holder">
            <div class="color" *ngFor="let color of projectEditor.project.colors; let i = index; trackBy: trackByFn">
                <mat-form-field appearance="fill" class="component">
                    <mat-label>{{i + 1}}</mat-label>
                    <input matInput type="color" [value]="color" (input)="setColor(i, $event.target.value)">
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="deleteColor(i)">
                    <mat-icon class="material-icons-round">close</mat-icon>
                </button>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addColor()">{{languageService.getUpper('add')}}</button>
    </mat-expansion-panel> -->

    <!-- Urls -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{languageService.getUpper('urls')}}
            </mat-panel-title>
            <mat-panel-description>
                {{languageService.getUpper('amount')}}: {{projectEditor.project.urls.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="urls_holder">
            <div class="url" *ngFor="let url of projectEditor.project.urls; let i = index; trackBy: trackByFn">
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>{{i + 1}}. {{languageService.get('name')}} [{{getCurrentLanguageString()}}]</mat-label>
                    <input matInput [value]="getUrlName(i)" (input)="setUrlName(i, $event.target.value)">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{i + 1}}. {{languageService.get('url')}}</mat-label>
                    <input matInput [(ngModel)]="url.url">
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="deleteUrl(i)">
                    <mat-icon class="material-icons-round">close</mat-icon>
                </button>
                <div class="mover">
                    <div matRipple (click)="moveItem(projectEditor.project.urls, url, -1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_up</mat-icon>
                    </div>
                    <div matRipple (click)="moveItem(projectEditor.project.urls, url, 1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addUrl()">{{languageService.getUpper('add')}}</button>
    </mat-expansion-panel>

    <!-- Images -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{languageService.getUpper('pictures')}}
            </mat-panel-title>
            <mat-panel-description>
                {{languageService.getUpper('amount')}}: {{projectEditor.project.images.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="imagess_holder">
            <div class="image" *ngFor="let image of projectEditor.project.images; let i = index; trackBy: trackByFn">
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>{{i + 1}}. {{languageService.get('title')}} [{{getCurrentLanguageString()}}]</mat-label>
                    <input matInput [value]="getImageTitle(i)" (input)="setImageTitle(i, $event.target.value)">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{i + 1}}. {{languageService.get('url')}}</mat-label>
                    <input matInput [(ngModel)]="image.url">
                    <button mat-icon-button matSuffix (click)="pickImage(i)">
                        <mat-icon class="material-icons-round">folder</mat-icon>
                    </button>
                </mat-form-field>
                <img [src]="image.url" style="height: 50px; min-width: 50px;" (click)="openUrl(image.url)">
                <button mat-icon-button color="warn" (click)="deleteImage(i)">
                    <mat-icon class="material-icons-round">close</mat-icon>
                </button>
                <div class="mover">
                    <div matRipple (click)="moveItem(projectEditor.project.images, image, -1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_up</mat-icon>
                    </div>
                    <div matRipple (click)="moveItem(projectEditor.project.images, image, 1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addImage()">{{languageService.getUpper('add')}}</button>
    </mat-expansion-panel>

    <!-- Questions -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{languageService.getUpper('faq')}}
            </mat-panel-title>
            <mat-panel-description>
                {{languageService.getUpper('amount')}}: {{projectEditor.project.questions.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="questions_holder">
            <div class="question"
                *ngFor="let question of projectEditor.project.questions; let i = index; trackBy: trackByFn">
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>{{i + 1}}. {{languageService.get('question')}} [{{getCurrentLanguageString()}}]
                    </mat-label>
                    <input matInput [value]="getQuestionQuestion(i)"
                        (input)="setQuestionQuestion(i, $event.target.value)">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{i + 1}}. {{languageService.get('answer')}} [{{getCurrentLanguageString()}}]</mat-label>
                    <input matInput [value]="getQuestionAnswer(i)" (input)="setQuestionAnswer(i, $event.target.value)">
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="deleteQuestion(i)">
                    <mat-icon class="material-icons-round">close</mat-icon>
                </button>
                <div class="mover">
                    <div matRipple (click)="moveItem(projectEditor.project.questions, question, -1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_up</mat-icon>
                    </div>
                    <div matRipple (click)="moveItem(projectEditor.project.questions, question, 1)">
                        <mat-icon class="material-icons-round">keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addQuestion()">{{languageService.getUpper('add')}}</button>
    </mat-expansion-panel>
</mat-accordion>