.component {
    width: 100%;
}

.keywords_holder {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(240px, 1fr) );
}

.keyword {
    width: fit-content;
}

.colors_holder {
    display: flex;
    flex-direction: column;
}
.color {
    display: flex;
    gap: 12px;
}