.component {
    width: 100%;
}

.logos_holder {
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    gap: 12px;
}

.keywords_holder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.keyword {
    width: fit-content;
    display: flex;
    gap: 10px;
}

.colors_holder {
    display: flex;
    flex-direction: column;
}
.color {
    display: flex;
    gap: 12px;
}

.urls_holder {
    display: flex;
    flex-direction: column;
}
.url {
    display: flex;
    gap: 12px;
}
.url mat-form-field {
    width: 100%;
}

.images_holder {
    display: flex;
    flex-direction: column;
}
.image {
    display: flex;
    gap: 12px;
}
.image mat-form-field {
    width: 100%;
}
.image img {
    cursor: pointer;
}

.questions_holder {
    display: flex;
    flex-direction: column;
}
.question {
    display: flex;
    gap: 12px;
}
.question mat-form-field {
    width: 100%;
}