<div class="head">
    <desktop-floating-title [text]="languageService.get(title)" [scrollElement]="scrollElement">
    </desktop-floating-title>
    <table class="info">
        <tr *ngIf="creationDate">
            <td>{{languageService.getUpper('creationDate')}}:</td>
            <td>{{getDateString()}}</td>
        </tr>
        <tr>
            <td>{{languageService.getUpper('status')}}:</td>
            <td>{{languageService.get(status)}}</td>
        </tr>
    </table>
</div>

<div class="container_keywords">
    <div style="margin-right: 4px;">{{languageService.getUpper('keywords')}}:</div>
    <div class="keyword" matRipple *ngFor="let keyword of keywords" (click)="searchKeyword(keyword)"
        [matTooltip]="languageService.getUpper('hint_search')">
        {{languageService.get(keyword)}}
    </div>
</div>